<h2>Contact Me</h2>

<form [formGroup]="contactMe">

    <label for="name" class="col-2">Your Name:</label>
    <input type="text" name="name" id="name" class="col-6">
    <br>
    <label for="mail" class="col-2">Your Mail:</label>
    <input type="text" id="mail" class="col-6">
    <br>
    <label for="content" class="col-2">Your Message:</label>
    <textarea name="content" id="content" cols="5" rows="15" class="col-12"></textarea>    
    <button class="btn btn-secondary" type="submit">Send</button>



</form>